<div class="container">
  <h6>Select Club</h6>
  <div class="row">
    <select class="form-select" aria-label="club select" id="club_dropdown">
    </select>
  </div>
  <div class="row">
    <div class="col-sm">
      <label for="club_name">Club name</label>
      <input type="text" class="form-control" id="club_name">
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-secondary" id="delete_club">Delete club</button>
      <button type="button" class="btn btn-secondary" id="create_update_club">Create/update club</button>
    </div>
  </div>
</div>
