<div class="container">
  <h6>Select Player</h6>
  <div class="row">
    <select class="form-select" aria-label="player select" id="player_dropdown">
    </select>
  </div>
<div id="player_display">
<div class="row">
  <div class="col-sm">
    <label for="fName">First name</label>
    <input type="text" class="form-control" id="fName">
  </div>
  <div class="col-sm">
    <label for="sName">Surname</label>
    <input type="text" class="form-control" id="sName">
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <label for="grade">(Estimated) rating</label>
    <input type="text" class="form-control" id="grade">
  </div>
  <div class="col-sm">
    <label for="num_graded_games">Number of graded games played</label>
    <input type="text" class="form-control" id="num_graded_games">
  </div>
</div>
<div class="row">
  <label for="player_club_dropdown">Club</label>
  <div class="col-sm">
    <select class="form-select" aria-label="player club select" id="player_club_dropdown">
    </select>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <input class="form-check-input" type="checkbox" value="" id="active">  <label class=form-check-label" for="active">Player can be matched</label>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <label for="avoid_list">Avoid players</label>
    <select class="form-select" multiple aria-label="multiple select example" id="avoid_list">
    </select>
  </div>
</div>
<div class="row mt-3 mb-3">
  <div class="col-sm">
    <button type="button" class="btn btn-secondary" id="clearAvoids">Clear avoid list</button>
    <button type="button" class="btn btn-secondary" id="delete_player">Delete player</button>
    <button type="button" class="btn btn-secondary" id="create_update_player">Create/Update player</button>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h6>Games list</h6>
    <table id="player_games_list" class="table table-bordered">
    <thead>
    <tr><th>White</th><th>Black</th><th>Result</th><th></th><th></th></tr>
    </thead>
    <tbody>
    </tbody>
    </table>
  </div>
</div>  
</div>
</div>
